/* Auth.js */
.log_container {
    display: flex;
    flex-direction: column;
    width: 660px;
    background-color: white;
    min-height: 450px;
    padding: 40px;
    margin: 0 auto;
}

.log_layout {
    margin: 0 auto;
    width: 400px;
    height: 140px;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 120px;
    margin-top: 20px;
    border: 6px solid rgb(255, 208, 0);
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
}

.log_form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.input_form {
    padding: 8px;
    padding-left: 13px;
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    color: black;
    margin-bottom: 15px;
}

.auth_Error {
    display: flex;
    color: rgb(255, 97, 70);
    font-weight: 500;
    font-size: 14px;
    margin: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.auth_Btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #bdbdbd;
    background-color: rgb(255, 221, 27);
    margin-bottom: 15px;
}

.go_sign_Btn {
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid rgb(189, 189, 189);
    background-color: white;
}

.social_Btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    height: 60px;
    padding: 30px;
    padding-top: 0px;
    border: 6px solid rgb(255, 208, 0);
    border-radius: 0px 0px 20px 20px;
    border-top: none;
}

.social_Btn {
    cursor: pointer;
    margin: 10px;
    width: 170px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    background-color: white;
}

/* AuthForm.js */
.sign_container {
    display: flex;
    flex-direction: column;
    width: 660px;
    background-color: white;
    min-height: 450px;
    padding: 40px;
    margin: 0 auto;
}

.sign_layout {
    margin: 0 auto;
    border: 6px solid rgb(255, 208, 0);
    width: 400px;
    height: 140px;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 120px;
    margin-top: 20px;
}

.sign_form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}