.home_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.weekly_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_title {
    display: flex;
    flex-direction: row;
}

.title {
    margin-left: 20px;
    width: 300px;
}

.more {
    margin-left: 255px;
    color: #777676;
}

.more:hover {
    color: black;
}