.main_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 150px;
  padding: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
  margin-bottom: 20px;
}

.account_title {
  font-weight: bold;
  font-size: 25px;
  margin: 0px 0px 20px 20px;
}

.account_container {
  display: flex;
}

.account_img {
  margin-left: 20px;
}

.account_info {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 600;
}

.account_des {
  margin: 0px 0px 9px 10px;
}

.logBtn {
  border-radius: 15px;
  padding: 5px 12px 5px 12px;
  margin: 2px 0px 0px 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 208, 0);
  border: none;
  cursor: pointer;
}

.logBtn:hover {
  background-color: rgba(255, 208, 0, 0.671);
}

.fav_title {
  font-weight: bold;
  font-size: 25px;
  margin: 0px 0px 30px 20px;
}

.fav_info {
  text-decoration-line: none;
  flex-direction: column;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.fav_image {
  height: 200px;
  width: auto;
  border-radius: 10px;
  margin-right: 30px;
}

.fav_info_main {
  color: black;
  height: 130px;
}

.fav_info_sub {
  font-size:15px;
}

.fav_info_title {
  margin-top: 10px;
  width: 440px;
}