/* Navigation.js */
.nav_container {
    background-color: white;
    padding-top: 10px;
    box-shadow : 0px 3px 6px rgba(0,0,0,0.1);   
    margin-bottom: 20px;
}

.nav_header {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    width: 750px;
    height: 70px;
    margin-bottom: 30px;
}

.nav_logo {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
}

.nav_logBtns {
    width: 100px;
    margin-bottom: 12px;
}

.nav_logBtn {
    cursor: pointer;
    background-color: white;
    color: rgb(119, 118, 118);
    font-weight: bolder;
    font-size: 13pt;
    border: none;
    width: 90px;
    height: 30px;
}

.nav_mainNav {
    display: flex;
    padding: 5px;
    list-style: none;
    font-size: 15pt;
    width: 750px;
    justify-content: space-around;
    margin: 0 auto;
}

.nav {
    cursor: pointer;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;

}

.active {
    border-bottom: 3px solid rgb(255, 208, 0);
}

.search_bar_input {
    display: flex;
    padding-left: 200px;
}

.search_bar {
    border: 1px solid rgb(189, 189, 189);
    height: 30px;
    border-radius: 20px;
    width: 215px;
    padding-left: 13px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

.search_icon {
    position: relative;
    top: 3px;
    right: 38px;
}

/* Weekly Navigation*/
.weekly_nav {
    display: flex;
    background-color: white;
    list-style: none;
    font-size: 15pt;
    font-weight: 600;
    justify-content: space-around;
    width: 660px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

/* Week Navigation */
.week_nav {
    margin-bottom: 0px;
}

.w_nav {
    padding: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

.act {
    background-color: rgb(255, 208, 0);
    border-radius: 30px;
}