.top_main_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 450px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    margin: 0 auto;
}

.top_sub_container {
    display: flex;
}

.top_preview_form {
    display: flex;
}

.top_title {
    width: 200px;
}

.top_more {
    float: right;
    padding-top: 5px;
    margin-left: 440px;
}

.top_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* -------------------------- */
.subRank_info {
    text-decoration-line: none;
    flex-direction: column;
    margin-bottom: 10px;
}

.subRank_image {
    height: 130px;
    max-width: 130px;
    border-radius: 10px;
}

.subRank_info_main {
    color: black;
}

.subRank_info_title {
    font-weight: 600;
    margin: 0px;
    width: 120px;
}

.subRank_info_reader {
    margin: 0px;
    margin-bottom : 20px;
    color: rgb(155, 155, 155);
    font-weight:500;
}

/* -------------------------- */
.top_info {
    text-decoration-line: none;
    flex-direction: column;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.top_image {
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin-right: 30px;
}

.top_info_main {
    color: black;
    height: 130px;
}

.top_info_sub {
    font-size:15px;
}

.top_info_title {
    margin-top: 10px;
    width: 440px;
}

.top_info_reader {
    margin: 0px;
    margin-bottom : 20px;
    color: rgb(155, 155, 155);
    font-weight:500;
}

.rank {
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin-left: 20px;
}

.favorites {
    margin: 20px 30px 30px 0px;
    font-size: 30px;
    height: 45px;
    cursor: pointer;
}