/* 전체 */
.weekly_main_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 450px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    margin: 0 auto;
}

/* WeeklyToon.js */
.weekly_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.weekly_info {
    text-decoration-line: none;
    flex-direction: column;
    margin-bottom: 10px;
}

.weekly_image {
    height: 130px;
    max-width: 130px;
    border-radius: 10px;
}

.weekly_info_main {
    color: black;
}

.weekly_info_title {
    font-weight: 600;
    margin: 0px;
    width: 120px;
}

.weekly_info_reader {
    margin: 0px;
    margin-bottom : 20px;
    color: rgb(155, 155, 155);
    font-weight:500;
}