/* 전체 */
.main_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 450px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    margin: 0 auto;
}

/* WeeklyToon.js */
.weekly_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.weekly_info {
    text-decoration-line: none;
    flex-direction: column;
    margin-bottom: 10px;
}

.weekly_image {
    height: 130px;
    max-width: 130px;
    border-radius: 10px;
}

.weekly_info_main {
    color: black;
}

.weekly_info_title {
    font-weight: 600;
    margin: 0px;
    width: 120px;
}

.weekly_info_reader {
    margin: 0px;
    margin-bottom : 20px;
    color: rgb(155, 155, 155);
    font-weight:500;
}


/* .weekly_genre_info {
    display: flex;
    text-decoration-line: none;
}

.list {
    padding-bottom: 5px;
    font-size: 10pt;
    color: rgb(119, 118, 118);
    padding-bottom: 5px;
    width: auto;
    max-width: 550px;
    background-color: bisque;
}

.img {
    height: auto;
    max-width: 24%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.main {
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 11pt;
    color:rgb(119, 118, 118);
}

.title {
    color: black;
    font-size: 12pt;
    font-weight: 600;
    padding-bottom: 3px;
}

.cap {
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 15px;
}

.sub {
    margin-bottom: 10px;
} */