.mainNav {
    background-color: white;
    padding-top: 10px;
    box-shadow : 0px 3px 6px rgba(0,0,0,0.16);   
    margin-bottom: 20px;
    position: sticky;
}

.mainNav_container {
    display: flex;
    align-items: flex-end;
    width: 750px;
    height: 70px;
    margin: 0 auto;         /*모든 요소들을 가운데로 정렬*/
    margin-bottom: 20px;
    
}

.main_logo {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    padding-right: 200px;
}

.logBtns {
    width: 100px;
    margin-bottom: 17px;
    
}

.logBtn {
    cursor: pointer;
    background-color: white;
    color: rgb(119, 118, 118);
    font-weight: bolder;
    font-size: 13pt;
    border: none;
    width: 90px;
    height: 30px;
}

.main_nav {
    display: flex;
    padding: 5px;
    list-style: none;
    font-size: 15pt;
    width: 750px;
    justify-content	: space-around;
    margin: 0 auto;
    color: black;
}

.nav {
    cursor: pointer;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;

}

.active {
    border-bottom: 3px solid rgb(255, 208, 0);
}

.search {
    display: flex;
}

.search_bar {
    border: 1px solid rgb(189, 189, 189);
    height: 30px;
    border-radius: 20px;
    width: 215px;
    padding-left: 13px;
    margin-bottom: 15px;
    font-size: 15px;
}

.search_icon {
    position: relative;
    top: 3px;
    right: 38px;
}
